@use "sass:color";
@use 'variables';

.calendar-grid {
  height: calc(100vh - 11.5rem);
  padding-left: 1rem;
  user-select: none;
}

.calendar-grid-content {
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

.calendar-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  flex-grow: 1;
}

.calendar-grid-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-left: variables.$calendar-interval-width;
  border-bottom: variables.$calendar-grid-border-style;
  min-height: 6.5rem;
  margin-right: 0.7rem;
  //padding-bottom: 1rem;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.whole-day-event {
  height: 100%;
  border-left: variables.$calendar-grid-border-style;
}

.intervals {
  width: variables.$calendar-interval-width;
}

.interval {
  height: variables.$calendar-interval-height;
  text-align: center;
  position: relative;

  span {
    color: color.adjust(variables.$darker-gray-color, $lightness: -20%);
    font-size: 0.7rem;
    position: relative;
    top: -0.7rem;
  }

  &::after {
    content: '';
    border-bottom: 1px solid variables.$gray-color;
    width: 10px;
    display: inline-block;
    position: absolute;
    top: -1px;
    right: 0;
  }

  &:first-child {
    span {
      display: none;
    }
    &::after {
      content: none;
    }
  }
}

.date {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.day-of-week {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 0.2rem;
}

.day-of-month {
  font-size: 1.5rem;
  border-radius: 50%;
  //padding: 0.5rem;
  padding: 0.4rem 0;
  width: 2.7rem;
  text-align: center;
}

.day-of-month:hover {
  background-color: variables.$gray-color;
  cursor: pointer;
}

.active-day {
  .day-of-month {
    color: #fff;
    border: 1px solid variables.$active-day-color;
    background-color: variables.$active-day-color;
  }

  .day-of-month:hover {
    background-color: variables.$active-day-hover-color;
    border: 1px solid variables.$active-day-hover-color;
  }

  .day-of-week {
    color: variables.$active-day-color;
  }
}
