@import 'variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}

h3 {
  display: inline-block;
  //align-content: center;
  margin: 0;
  font-size: 1.2rem;
}

.navigation-arrows {
  display: flex;
  border-radius: 50%;
}

.arrow {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $gray-color;
    cursor: pointer;
  }
}
