@use 'variables';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  gap: 2rem;
}

h3 {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}

.navigation-arrows {
  display: flex;
  border-radius: 50%;
}

.arrow {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: variables.$gray-color;
    cursor: pointer;
  }
}

