<!--<button (click)="changeTimeFormat()">CHANGE TIME FORMAT</button>-->
<div class="calendar-grid">
  <div class="calendar-grid-header">
    @for (day of days; track day) {
      <div class="header-content">
        <div class='date' [class.active-day]='day | isCurrentDate'>
          <span class="day-of-week">{{ day.getDay() | weekDay }} </span>
          <span class="day-of-month">{{ day.getDate() }}</span>
        </div>
        <div class='whole-day-event'>

        </div>
      </div>
    }
  </div>
  <div class="calendar-grid-content" #calendarGrid>
    <div class="content intervals">
      @for (time of times; track time) {
        <div class='interval' [ngStyle]='{ height: intervalHeight + "px" }'>
          <span>{{ time | date: (isAmPm | apply: getTimeFormat) }}</span>
        </div>
      }
    </div>
    <div class='content calendar-columns'>
      @for (day of days; track day) {
        <app-day-column [date]='day'
                        [calendarGridScrollTop]='calendarGrid.scrollTop'
                        [intervals]='times'
                        [intervalHeight]='intervalHeight'
                        [intervalDuration]='intervalDuration'
                        [slotDuration]='slotDuration'
                        [timeFormat]='isAmPm | apply: getTimeFormat'
                        [calendarEventInstances]='day | apply:getCalendarEventInstancesForDay:calendarEventInstanceContainer()'></app-day-column>
      }
    </div>
  </div>
</div>

