<div class='day-column'>
  <div class="slots">
    <time class='slot'>00:00 am</time>
    <time class='slot'>01:00 am</time>
    <time class='slot'>02:00 am</time>
    <time class='slot'>03:00 am</time>
    <time class='slot'>04:00 am</time>
    <time class='slot'>05:00 am</time>
    <time class='slot'>06:00 am</time>
    <time class='slot'>07:00 am</time>
    <time class='slot'>08:00 am</time>
    <time class='slot'>09:00 am</time>
    <time class='slot'>10:00 am</time>
    <time class='slot'>11:00 am</time>
    <time class='slot'>12:00 pm</time>
    <time class='slot'>01:00 pm</time>
    <time class='slot'>02:00 pm</time>
    <time class='slot'>03:00 pm</time>
    <time class='slot'>04:00 pm</time>
    <time class='slot'>05:00 pm</time>
    <time class='slot'>06:00 pm</time>
    <time class='slot'>07:00 pm</time>
    <time class='slot'>08:00 pm</time>
    <time class='slot'>09:00 pm</time>
    <time class='slot'>10:00 pm</time>
    <time class='slot'>11:00 pm</time>
  </div>
  <div class='area' #area></div>
</div>
