<div class='day-column'>
  <div class="slots">
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
    <time class='slot'></time>
  </div>
  <div class='area' #area></div>
</div>
