// colors
$gray-color: #dfe1e5;
$darker-gray-color: #a6a7a8;
$past-dates-color: #cbb79d;
$future-dates-color: #d7d6d6;
$active-day-color: #1a73e8;
$active-day-hover-color: darken($active-day-color, 10%);
$calendar-grid-scrollbar-color: #dadce0;
$calendar-event-color: #039be5;

// sizes
$calendar-interval-width: 4.5rem;
$calendar-interval-height: 5rem;
$sidebar-width: 15vw;

// styles
$calendar-grid-border-style: 1px solid $gray-color;
