form {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

:host ::ng-deep .event-time-container .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.event-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-time, .end-time {
  width: 45%;
}

.event-time-separator {
  border-top: 2px solid black;
  width: 1rem;
}

.isRepeating {
  margin: 1rem 0;
}
