<form [formGroup]='form' (ngSubmit)="onSave()">
  <mat-form-field>
    <mat-label>Add title</mat-label>
    <input type='text' matInput formControlName='title'>
  </mat-form-field>

  <div class="event-start">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="start" formControlName="startDate">
      <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="event-time-container">
    <mat-form-field class='start-time'>
      <mat-label>From</mat-label>
      <mat-select (selectionChange)='onEventStartTimeChange($event)' [value]='data.start' [compareWith]='compareByTime'>
        @if (dates$ | async; as dates) {
          @for (date of dates; track date) {
            <mat-option [value]="date">{{ date | date:timeFormat }}</mat-option>
          } @empty {
            <p>No times</p>
          }
        }
      </mat-select>
    </mat-form-field>
    <div class='event-time-separator'></div>
    <mat-form-field class='end-time'>
      <mat-label>To</mat-label>
      <mat-select (selectionChange)='onEventEndTimeChange($event)' [value]='data.end' [compareWith]='compareByTime'>
        @if (dates$ | async; as dates) {
          @for (date of dates; track date) {
            <mat-option [value]="date">{{ date | date:timeFormat }}</mat-option>
          } @empty {
            <p>No times</p>
          }
        }
      </mat-select>
    </mat-form-field>
  </div>

  <span class='isRepeating'>
    <mat-checkbox formControlName='isRepeating' color='primary' (change)='onIsRepeatingChange($event)'>Repeats</mat-checkbox>
  </span>

  @if (isRepeatingControl.value) {
    <repeating-pattern [startDate]='data.start'
                       [endDate]='data.end'
                       [weekdayDetails]='data.weekdayDetails'></repeating-pattern>
  }

  <button mat-button mat-flat-button color='primary' type='submit' [disabled]='form.invalid'
          class='margin-top-1rem'>Save
  </button>
  <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close" class="close-btn" (click)="onClose()"></mat-icon>
</form>
