.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-top: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
}

.actions {
  text-align: right;

  .action {
    width: 5rem;
  }

  .action:last-child {
    margin: 0 1rem;
  }
}

.form-field {
  width: 70%;
}
