<div class="wrapper">
  <app-calendar-header [calendarView]='CalendarView.WEEKLY'
                       [date]='selectedDate'
                       [firstDayOfMonthAdded]='firstDayOfMonthAdded'
                       (dateChange)='onDateChange($event)'
                       class='calendar-header'></app-calendar-header>
  <app-sidebar [(selected)]='selectedDate'></app-sidebar>
  <app-weekly-calendar [date]="selectedDate"
                       [intervalHeight]='intervalHeight'
                       [intervalDuration]='intervalDuration'
                       [slotDuration]='slotDuration'
                       (firstDayOfMonthAdded)='onFirstDayOfMonthAdded($event)'></app-weekly-calendar>
</div>
