* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  .login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //flex: 1 1 45%;
    //background: rgb(146,232,228);
    //background: radial-gradient(circle, rgba(146,232,228,1) 0%, rgba(255,255,255,1) 46%);

    .login-container{
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      width: 40%;
    }
  }
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  //background: black;
}

div {
  grid-column: 1;
  grid-row: 1;
}

.confirm-btn{
  padding: 2em;
  margin-top: 2em;
}

.password-container{
  width: 100%;

  mat-form-field {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .forgot-password{
    margin-top: 0;
    padding-top: 0;
    float: right;
    color: blue;
    cursor: pointer;
  }
}

.link-highlight {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.create-acc {
  //margin-left: 12%;
  margin-top: 2em;
}

.login-title{
  display: flex;
  justify-content: center;
  span {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
}

.error-container p {
  color: red;
}

