@use 'variables';

.interval-frequency-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.interval {
  width: 25%;
}

.frequency {
  width: 35%;
}

:host ::ng-deep .frequency .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .interval .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .event-end-date-picker-wrapper .event-end-date-picker-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.event-end-date-picker-wrapper {
  display: flex;
  flex-direction: column;
}

.repeat-every {
  align-self: center;
}

.event-end-type-radio-group {
  display: flex;
  flex-direction: column;
}

#end {
  display: inline-block;
  padding-left: 0.5rem;
}

.event-ends-on, .event-ends-after-occurrences {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.event-ends-after-occurrences {
  position: relative;
}

.occurrences {
  position: absolute;
  left: 40px;
}

.weekDays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.weekDay {
  border: none;
  background-color: variables.$gray-color;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.active {
  background-color: variables.$active-day-color;
}

.width-5rem {
  width: 100%;
}
