@import 'ngx-toastr/toastr';

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.margin-top-1rem {
  margin-top: 1rem;
}
.font-size-1rem {
  font-size: 1rem;
}
.margin-bottom-half-rem {
  margin-bottom: 0.5rem;
}
.error {
  color: red;
}

/* This styles the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light grey background */
  border-radius: 10px; /* Rounded corners for the track */
}

/* This styles the scrollbar thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Darker grey thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* This styles the scrollbar itself (including the thumb, track, and button) */
::-webkit-scrollbar {
  width: 0.7rem; /* Width of the entire scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: darken(#c0c0c0, 20%);
}
