@use 'variables';

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
}

.header-right-side {
  width: variables.$sidebar-width;
}

.calendar-nav-container {
  //width: 15vw;
  display: flex;
  justify-content: space-between;
}

.calendar-visibility-setting {
  &:hover {
    cursor: pointer;
  }
}

.user-search {
  width: 20rem;
}

.full-width {
  width: 100%;
}

#file-input {
  clip-path: inset(100%);
}

#file-input-label {
  cursor: pointer;
}
.username {
  font-size: 1.2rem;
  display: inline-block;
}
